/* 초기화 from default.css */
html {}
body {margin:0;padding:0;font-size:0.75em;font-family:dotum}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:dotum}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family:dotum;font-size:1em}
button {cursor:pointer}

textarea, select {font-family:dotum;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#000;text-decoration:none}
a:hover, a:focus, a:active {color:#000;text-decoration:underline}

/* background 색상 */
.s-bg-main-01 { background-color: rgb(29,61,160); }
.s-bg-main-02 { background-color: rgb(251,238,214); }
.s-bg-main-03 { background-color: rgb(253,180,49);}

/* color 색상 */
.s-color-w { color:  white; }
.s-color-y { color: rgb(251,238,214); }
.s-color-bck { color: black; }
.s-color-g { color: grey; }
.s-color-ble { color: rgb(29,61,160); }

/* button style */


.container {
    height: 100vh;
}